<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config  3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="easymall/mybatis/UserMapper.xml"></mapper>
		<mapper resource="easymall/mybatis/ProductMapper.xml"></mapper>
		<mapper resource="easymall/mybatis/CartMapper.xml"></mapper>
		<mapper resource="easymall/mybatis/OrderMapper.xml"></mapper>
		<mapper resource="easymall/mybatis/OrderItemMapper.xml"></mapper>
	</mappers>
</configuration>