<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="easymall.dao.ProductsDao">
	<!-- 查找所有的商品 -->
	<select id="prodlist" resultType="easymall.pojo.Products" parameterType="map">
		select * from products where (price between #{minPrice} and #{maxPrice})
		<if test="name != null and name != ''">
			and name like concat('%',#{name},'%')
		</if>
		<if test="category != nul and category != ''">
			and category = #{category} 
		</if>
	</select>
	
	<!-- 查找所有的商品种类 -->
	<select id="allcategorys" resultType="easymall.pojo.Category">
		select * from category
	</select>
	
	<!-- 查找单个商品 -->
	<select id="oneProduct" parameterType="String" resultType="easymall.pojo.Products">
		select * from products where id=#{pid}
	</select>
	
	<!-- 查找一类商品 -->
	<select id="prodclass" parameterType="Integer" 
	resultType="easymall.pojo.Products">
		select * from products where category=#{category}
	</select>
	
	<!-- 返回所有的商品 -->
	<select id="selectAllProducts" resultType="easymall.pojo.Products">
		select * from products
	</select>
	
	<select id="selectAllProductsBysaleNum" resultType="easymall.pojo.Products">
		select * from products order by soldnum desc 
	</select>
	
	<!-- 插入新的商品 -->
	<insert id="save" parameterType="easymall.pojo.Products">
		insert into products(id,name,price,category,pnum,imgurl,description)
		 values(#{id},#{name},#{price},#{category},#{pnum},#{imgurl},#{description})
	</insert>
	
	<!-- 通过imgurl查钊商品 -->
	<select id="findByImgurl" parameterType="String" resultType="easymall.pojo.Products">
		select * from products where imgurl=#{imgurl}
	</select>
</mapper>